// $width: 200px;
// $ejh: 200px;

.carousel {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  min-height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.carousel__item {
  max-width: 300px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  //   overflow: hidden;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5 ease-in-out;
  position: absolute;
  img {
    border-radius: 50%;
  }
  p {
    z-index: 100;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  @media screen and (max-width: 768px) {
    width: 65px;
    height: 65px;
  }
}
// .active {
//   transform: scale(1.7);
//   z-index: 30;
//   left: 40% !important;
// }
// .next {
//   left: 17% !important;
// }
// .prev {
//   left: 63% !important;
// }
.carousel__item:first-child {
  left: 0;
}
.carousel__item:nth-child(2) {
  left: 17%;
  transform: scale(1.3);
}
.carousel__item:nth-child(3) {
  transform: scale(1.7);
  z-index: 30;
  left: 40% !important;
}
.carousel__item:nth-child(4) {
  left: 63%;
  transform: scale(1.3);
}
.carousel__item:last-child {
  left: 80%;
}
// .first {
//   left: 0;
// }
// .last {
//   left: 80%;
// }
.next,
.prev {
  transform: scale(1.3);
}
